<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Earrings </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let task of taskService.taskList" detail>
      <ion-label>{{task.title}}</ion-label>
    </ion-item>
  </ion-list>
    <ion-fab slot="fixed" horizontal="end" vertical="bottom">
      <ion-fab-button (click)="onAddTaskClick()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
